A reason to use optional for every property is when communicating with a backend with no contract/specs, and you don't trust the response will be consistent. In this case, the properties could be optional. But of course, it'd only be all optional in the 'API mapping model',  and you can validate/convert them into an app-specific model.  The app-specific model shouldn't be influenced by API details, so properties should only be optional if that's the app requirement.